@model NodeEnvironment
@{
    ViewData["Title"] = "Home Page";
}
<p>
    version: v4
</p>
<p>
    <h1>The Machine Name is : @Model.MachineName </h1>
</p>
<p>
    <input type="text" id="agetextbox" />
</p>
<p>
    <input type="button" title="Add" value="Create File.." onclick="location.href='@Url.Action("CreateTestFile", "Home")'" />  
</p>
<p>
    <input type="button" title="Add" value="Docker file/folder test" onclick="location.href='@Url.Action("CreateInCurrentDirectory", "Home")'" />    
</p>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
